---
const { to } = Astro.props;
const { title } = Astro.props;
---

<a href={to} title={title}></a>

<style>
  .primary-button {
    background: linear-gradient(45deg, #fd2b75, #ff4b2b);
    border: 0;
    border-radius: 30px;
    color: white;
    font-size: 20px;
    font-weight: bold;
    padding: 12px 65px;
    transition: 0.3s all;
  }

  .primary-button:hover {
    background: linear-gradient(260deg, #fd2b75, #ff4b2b);
  }

  .secondary-button {
    background: #ffffff;
    border: 0;
    border-radius: 30px;
    color: black;
    font-size: 20px;
    font-weight: bold;
    padding: 12px 25px;
    transition: ease-out 0.3s;
  }

  .secondary-button:hover {
    background: black;
    color: white;
  }
</style>
