<nav class="navbar">
  <a class="text-white text-[40px] font-bold" href="/">chatspace</a>

  <div class="links-navbar">
    <ul>
      <li>
        <a href="#">Contact Us</a>
      </li>
      <li><a href="#">Q&A ?</a></li>
      <li>
        <a href="#">About</a>
      </li>
      <li>
        <a href="/login" class="secondary-button">Login</a>
      </li>
    </ul>
  </div>

  <div class="menu-hamburger">
    <div class="button-burger-menu"></div>
  </div>
</nav>
